@using TaskApp.Models;
@model List<EmployeeModel>;

<div class="employee">
    <h2>Список сотрудников</h2>
    @foreach (var element in Model)
    {
        <h3>@element.Surname @element.Name @element.Patronymic</h3>
        <p>Дата рождения: @element.Date</p>
        <p>Паспорт <br /> Серия: @element.PassportSeries Номер: @element.PassportNumber</p>
    }

    <div class="reference">
        <a href="/Home/Index">Главная страница</a>
    </div>
</div>

